@font-face {
    font-family: Public Sans SemiBold;
    src: url('fonts/PublicSans-SemiBold.ttf');
}

@font-face {
    font-family: Public Sans Regular;
    src: url('fonts/PublicSans-Regular.ttf');
}

@font-face {
    font-family: Public Sans Bold;
    src: url('fonts/PublicSans-Bold.ttf');
}


.label {
    -fx-font-family: 'Public Sans Bold';
}

.button {
    -fx-font-family: 'Public Sans Regular';
}