/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: #535353;
     -fx-scale-y: 2;
     -fx-padding: 100;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-opacity: 0;
}

.jfx-slider:hover > .thumb {
     -fx-background-color: white;
     -fx-scale-x: 0.8;
     -fx-scale-y: 0.8;

     -fx-opacity: 100;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #cfcfcf;
     -fx-scale-y: 2.2;
     -fx-padding: 100;
}

.jfx-slider:hover > .colored-track{
     -fx-background-color: #8A4973;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-opacity: 0;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-opacity: 0;
}