# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore compilation junk
target/
# Ignore downloaded songs and covers
src/main/java/resources/Covers/
src/main/java/resources/Songs/